# exclude everything
experimentsBaseDirectory/*
visualizations/*
/target/*
/target/
/build/
*.class
jMetal.log*
config.xml

# exception to the rule
!experimentsBaseDirectory/gitkeep.txt
!visualizations/template.html
